body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
    color: #333333;
    background-color: #ffffff;
    margin: 0;
}
ol {
	padding-left:15px;
}
.img-brand {
	width: 44px;
	height: 44px;
	margin: 0 auto;
}
.nav-menu {
	padding-right: 5px;
}
.main-content {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}
